<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="expo/coordinador/layouts/layout::layout( ~{::body} )">

    <head>
        <title>FORMULARIO DE EVENTO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <script>
            function quitarImagen(nombre) {
                $("#" + nombre).val("");
                $("#div_" + nombre).addClass("d-none");
            }
        </script>                    


        <div data-toggle="volver" th:if="${sinmenu!=true}"></div> 
        <div class="container">
            <div class="fijo"><a class="verTutorial "></a></div>
            <script src="/help/expo/coordinador_evento_help.js" ></script>

            <h3>FORMULARIO DE EVENTO</h3>

            <form action="guardar" method="post" th:object="${registro}"  
                  class="was-validated" enctype="multipart/form-data"> 

                <input type="hidden" th:field="*{id}"/>

                <hr/>
                <div class="row">
                    <div class="col-md-8 paso1">
                        <label>Nombre</label> 
                        <div data-toggle="obligatorio" data-invalid-text="Debe introducir un nombre">
                            <input class="form-control" th:field="*{nombreActividad}"placeholder="Nombre"  maxlength="200" required="true"/>
                        </div> 
                    </div>
                    <div class="col-md-2 paso2">
                        <label>Fecha</label>
                        <input type="date" class="form-control" th:field="*{fechaActividad}"/>
                    </div>  


                    <div class="col-md-2 col-12 paso3">
                        <label>Hora</label>
                        <input type="time" class="form-control" th:field="*{hora}"/>

                    </div>

                </div>
                <div class="row">

                    <div class="col-md-4 col-12 paso4">
                        <label>Estado</label>
                        <select class="form-control" th:field="*{estado}" data-memory="2">
                            <option value="Pendiente">Pendiente</option>
                            <option value="Aprobado">Aprobado</option>
                            <option value="Rechazado">Rechazado</option>
                        </select> 
                    </div>

                    <div class="col-md-4 col-12 paso5">   
                        <label>Área</label>
                        <div data-toggle="obligatorio" data-invalid-text="Debe introducir un area">
                            <input class="form-control" data-toggle= "buscador" data-url="../area/buscador" th:field="*{idArea}" placeholder="Area"  maxlength="200" required="true" />
                        </div>  
                    </div> 

                    <div class="col-md-4 col-12 paso6">
                        <label> Espacio</label> 
                        <div data-toggle="obligatorio" data-invalid-text="Debe introducir un Espacio">
                            <input class="form-control" data-toggle= "buscador" data-url="../espacio/buscador"  th:field="*{idEspacio}" placeholder="Espacio"  maxlength="200" required="true"  />
                        </div> 
                    </div> 
                </div>

                <div class="row">
                    <div class="col-md-12 paso7">
                        <label>Descripción (Tamaño máximo 200 carácteres)</label>
                        <textarea class="form-control" th:field="*{descripcion}" maxlength="200" rows="3"></textarea><br/>
                    </div>  
                </div>

                <div class="row paso8">
                    <div class="col-md-6 mt-4 ">  
                        <input type="hidden" name="img" id="img"/>
                        <div id="div_idImagen" style="width:470px;">
                            <script>
                                tecnara.cambiarFit=function(obj){
                                    //Coger el valor
                                    var dato=$("#imagenFit").val();
                                    //Ponerlo en la imagen
                                    $(".img-thumbnail").css("object-fit", dato);
                                }
                                $(document).ready(function(){
                                    tecnara.cambiarFit();
                                })
                            </script>
                            <h4 class='text-right'> Arrastra y suelta imágenes <a class='ml-5 h6 text-nowarp' th:if="${registro.idImagen!=null}" onclick="quitarImagen('idImagen')"> - <i class="fas fa-trash-alt"></i> Quitar imagen</a></h4>
                            <img th:if="${registro.idImagen!=null}" id="imagen" style="width:100%; height: 420px; margin:auto; display:block" class="border shadow img-thumbnail" th:src="@{/expo/coordinador/imagen/descargar(id=${registro.idImagen})}"/>
                            <img th:if="${registro.idImagen==null}" id="imagen" style="width:100%; height: 420px; margin:auto; display:block" class="border shadow img-thumbnail" src="/img/draw_and_drop_image.png" />
                            <select class="form-control" th:field="*{imagenFit}" onchange="tecnara.cambiarFit(this)">
                                <option value="cover">Recortar imagen</option>
                                <option value="contain">Espacios en blanco</option>
                                <option value="fill">Estirar imagen</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4 ">  
                        <div>
                            <div class="area">
                                <h4>o selecciona una imagen</h4>
                                <input type="hidden" th:field="*{idImagen}"/>
                                <input type="file" id="file" class="form-control" name="imagen"/>
                            </div>
                            <div id="preview"></div>
                        </div>   
                    </div>
                </div>                

                <div class="row">
                    <div class="col-md-4 col-12 paso9">
                        <label>Trabajador - (Autor del evento)</label> 
                        <input data-toggle="buscador" data-url="../trabajador/buscador" class="form-control" th:field="*{idTrabajador}"/>
                    </div> 

                </div> 

                <button type="submit" class="btn btn-primary mt-4 mb-4 paso10"> <i class="fas fa-save"></i> Guardar</button> 

            </form>

            <script>

                let files;

                document.addEventListener("dragover", (e) => {
                    e.preventDefault();
                    document.classList.add("active");
                    document.textContent = "Suelta para subir los archivos";
                });

                document.addEventListener("drop", (e) => {
                    e.preventDefault();
                    files = e.dataTransfer.files;

                    showFiles(files);
                    document.classList.remove("active");
                    document.textContent = "Arrastra y suelta imágenes"
                });

                function showFiles(files) {
                    if (files.length == undefined) {
                        processFile(files);
                    } else {
                        for (const file of files) {
                            processFile(file);
                        }
                    }
                }

                function processFile(file) {
                    const docType = file.type;
                    const validExtensions = ["image/jpeg", "image/jpg", "image/png", "image/gif"];

                    if (validExtensions.includes(docType)) {

                        const fileReader = new FileReader();
                        const id = `file-${Math.random().toString(32).substring(7)}`;

                        fileReader.addEventListener('load', e => {
                            const fileUrl = fileReader.result;
                            $("#imagen").attr('src', fileUrl);
                            $("#img").val(fileUrl);
                        });

                        fileReader.readAsDataURL(file);
                        uploadFile(file, id);
                    } else {
                        alert("No es un archivo válido");
                    }
                }
            </script>
        </div>

    </body>
</html>
