<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="expo/coordinador/layouts/layout::layout( ~{::body} )"> 
    <head>
        <title>Listado de Servicios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div data-toggle="indice"></div>
        <h3>Listado de Servicios</h3>
        <a class="btn btn-primary btn-sm" href="form" >Nuevo</a>
        
        
          <table class="table table-striped" 
                    data-toggle="table" 
                    data-mobile-responsive="true"
                    data-url="list_data">
            <thead>
                <tr>
                    <th data-field="nombre">Nombre</th>
                    <th data-field="pantalla" >Pantalla</th>
                    <th data-field="activo" >Activo</th>
                    <th data-field="id_imagen" data-formatter="tecnara.tablaImagen" data-width="200">Imagen</th>
                    <th data-field="id" data-formatter="tecnara.tablaBotones" data-width="200"></th>
                </tr>
            </thead>
        </table>
    </body>
</html>
