<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <h3>Formulario Faltas de Asistencia</h3>
        <form class="was-validated" action="guardar" method="post" th:object="${registro}">
            <input type="hidden" th:field="*{id}" />
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <label>Actividad</label>
                        
                            <input class="form-control" data-toggle="buscador" data-url="../actividad/buscador" data-params="idBeneficiario" th:field="*{idActividad}"/>    
                        
                    </div>
                    
                    <div class="col-8">
                        <label>Beneficiario</label>
                        <div data-toggle="obligatorio" data-invalid-text="Debe introducir el nombre">
                            <input class="form-control" data-toggle="buscador" data-url="../beneficiario/buscador"  th:field="*{idBeneficiario}"/>    
                        </div>
                    </div>
                    <div class="col-4">
                        <label>Fecha de la Falta de Asistencia</label>
                        <input type="date" data-default="hoy" class="form-control" th:field="*{fechaFaltaAsistencia}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Motivo</label>
                        <textarea class="form-control" placeholder="Indique los motivos que crea pertinentes..." rows="5" th:field="*{motivo}"/></textarea>
                    </div>  
                    <div class="col-6">
                        <label>Observación</label>
                        <textarea class="form-control" placeholder="Indique las observaciones que crea pertinentes..." rows="5" th:field="*{observacion}"/></textarea>
                    </div>
                </div>  
                <p>
                    La información aquí publicada será visible por los padres/tutores del beneficiario.
                </p>

                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </body>
</html>