<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <h3>Formulario memoria</h3>
        <form action="guardar" method="post" th:object="${registro}">    
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{idBeneficiario}"/>


            <div class="row">
                <div class="col-6">
                    <label>Fecha</label>
                    <input type="date" data-default="hoy" class="form-control" th:field="*{fechaComentario}"> 
                </div>
                <div class="col-12"> 
                    <label>Comentarios</label>
                    <textarea class="form-control"  th:field="*{comentarios}" rows="10"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-5">Guardar</button>
        </form>    

    </body>
</html>
