<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <body style="padding:0px;margin:0px">
        <iframe src="agenda" 
                frameborder="0" 
                scrolling="no" 
                width="50%" 
                height="2048" 
                align="left"
                style="margin:0px">
        </iframe>
        <div class="box">
            <iframe src="noticias" 
                    frameborder="0" 
                    scrolling="no" 
                    width="50%" 
                    height="2048" 
                    align="right">
            </iframe>
        </div>
    </body>
</html>
