<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="expo/public/layouts/layout::layout( ~{::body} )">
    
    <body>
            <div class="container indice">
            
            <div class="row pt-5">
                <div class=" col-md-6  mb-3">
                    <div class="card text-center fa-8x shadow">
                        <a href="agenda">
                            <i class="far fa-clipboard"></i><br/>
                            <h4 class="card-title">Agenda</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card text-center fa-8x shadow">
                        <a href="plantillas/noticias">
                            <i class="far fa-newspaper"></i><br/>
                            <h4 class="card-title">Noticias</h4>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
        
        
    </body>
</html>
