<!DOCTYPE html>
<html th:replace="expo/coordinador/layouts/layout::layout( ~{::body} )">
    <head>
        <title>Email Enviado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head> 
    <body>
        <div class="container">
            <h3>Email Enviado</h3>
            <p>
                Se ha enviado un email a su cuenta de correo electrónico. Deberá hacer <b>click</b> en el enlace para reestablecer su nueva contraseña.
            </p>
            <a href="login" class="btn btn-success btn-lg mb-4" >Volver a login</a><br/>
        </div>
    </body>
</html>