<!DOCTYPE html>
<html th:replace="expo/coordinador/layouts/layout::layout( ~{::body} )">
    <head>
        <title>Éxito de cambio de contraseña</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head> 
    <body>
        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    document.location = "login";
                }, 2000)

            })

        </script>
        <div class="container">
            <h4 class="text-center">
                Su contraseña ha sido cambiada exitosamente.
            </h4>
        </div>
    </body>
</html>
