<!DOCTYPE html>
<html th:fragment="layout(htmlbody)">
    <head> 

        <title>Sistema de gestión formativa - Mano Amiga</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/node_modules/jquery/dist/jquery.js" ></script>
        <script src="/node_modules/popper.js/dist/popper.min.js" ></script>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" >
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" ></script>
        <script src="/node_modules/bootbox/dist/bootbox.min.js"></script>
        <link rel="stylesheet" href="/node_modules/bootstrap-table/dist/bootstrap-table.min.css">
        <script src="/node_modules/bootstrap-table/dist/bootstrap-table.min.js"></script>
        <script src="/node_modules/bootstrap-table/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
        <link rel="stylesheet" href="/library/fontawesome-free-5.15.4-web/css/all.min.css"  />
        <script src="/node_modules/tinymce/tinymce.min.js" ></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="${'/temas/main_all.css'}"/>
        <link rel="stylesheet" th:href="${'/temas/' + general.theme + '/main.css'}"/>
        <script src="/js/main.js"></script>
        <script src="/node_modules/tableexport.jquery.plugin/tableExport.min.js"></script>
        <script src="/node_modules/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
        <script src="/node_modules/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
        <script src="/node_modules/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>        

        <script src="/library/rateit/jquery.rateit.js"></script>
        <link rel="stylesheet" href="/library/rateit/rateit.css"/> 

    </head>
    <body>
        <span th:replace="aaa/layouts/layout::layout()"></span>

        <nav class="navbar navbar-expand-lg"> 
            <a class="navbar-brand" href="/">
                <img th:src="${'/temas/' + general.theme +  '/logo.png'}"/>    
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>   
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="/act/public/usuario/form" > Registrate</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/act/public/usuario/login" > Acceder</a>
                    </li>

                </ul>
            </div>
        </nav>

    <th:block th:include="${htmlbody}"/>

</body>
</html>






