<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="act/admin/layouts/layout::layout( ~{::body} )">
    <body>
        <div data-toggle="indice"></div>        
        <h3>Listado Actividades</h3>
        <a class="btn btn-primary btn-sm" href="form" >Nuevo</a>
        <a class="ml-5" onclick="tecnara.ocultar('formulario')" data-memory="2">Ver filtros</a>

        <script>
            tecnara.filtroTabla = function (params) {
                params.tipoActividad = $("select[name='tipoActividad']").val();
                params.nombre = $("input[name='nombre']").val();
                params.fechaDesde = $("input[name='fechaDesde']").val();
                params.fechaHasta = $("input[name='fechaHasta']").val();
                params.responsable = $("input[name='responsable']").val();
                return params;
            }
        </script>

        <form id="formulario" class="d-none">  <!-- Filtrar -->
            <div class="row mt-3">
                <div class="col-2">
                    <label>Tipo de Actividad</label>
                    <select class="form-control" name="tipoActividad" data-memory="2">
                        <option value="">(Todos)</option>
                        <option value="formativa">Formativa</option>
                        <option value="voluntariado">Voluntariado</option>
                        <option value="recreativa">Recreativa</option>
                    </select>
                </div>
                <div class="col-2">
                    <label>Nombre</label>
                    <input class="form-control" name="nombre" data-memory="2"/>
                </div>
                <div class="col-2">
                    <label>Fecha desde</label>
                    <input type="date" class="form-control" name="fechaDesde" data-memory="2"/>
                </div>                
                <div class="col-2">
                    <label>Fecha hasta</label>
                    <input type="date" class="form-control" name="fechaHasta" data-memory="2"/>
                </div>  
                <div class="col-2">
                    <label>Responsable</label>
                    <input class="form-control" name="responsable" data-memory="2"/>
                </div>      
                <div class="col-2">
                    <label>&nbsp;</label>
                    <button type="button" class="btn btn-primary btn-block" 
                            onclick="tecnara.refrescarTablas()">  
                        <i class="fas fa-search"></i> Filtrar</button>

                </div>                     

            </div>

        </form>



        <table class="table table-striped" 
               data-toggle="table" 
               data-mobile-responsive="true" data-url="list_data"
               data-pagination="true"
               data-side-pagination="server"
               data-query-params="tecnara.filtroTabla" >
            <thead>
                <tr>
                    <th data-field="tipoActividad">Tipo de Actividad</th>
                    <th data-field="nombreActividad">Nombre de Actividad</th>
                    <th data-field="plazaActividad">Plazas </th>
                    <th data-field="horario">Horario</th>
                    <th data-field="lugarActividad">Lugar </th>
                    <th data-field="responsableActividad">Responsable </th>
                    <th data-field="id" data-formatter="tecnara.tablaBotones">Acciones</th>
                </tr>   
            </thead>    
        </table> 

    </body>
</html>
