<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="act/admin/layouts/layout::layout( ~{::body} )">
    
    <body>
        <div data-toggle="indice"></div>        
        <h3>Listado de Administradores</h3>
        <a class="btn btn-primary btn-sm" href="form" >Nuevo</a>
        <table class="table table-striped table-bordered table-hover" data-toggle="table" data-mobile-responsive="true" data-url="list_data">
            <thead>
                <tr>
                    <th data-field="usuario">Usuario</th>
                    <th data-field="nombre">Nombre</th>
                    <th data-field="apellido1">Primer Apellido</th>
                    <th data-field="apellido2">Segundo Apellido</th>
                    <th data-field="email">Email</th>
                    <th data-field="id" data-formatter="tecnara.tablaBotones">Acciones</th>
                </tr>   
            </thead>    
        </table> 
    </body>
</html>









