
<html xmlns:th="http://www.thymeleaf.org" th:replace="expo/coordinador/layouts/layout::layout( ~{::body} )"> 
    <head>


        <title>Listado de Plantillas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
         <div data-toggle="indice"></div>
          <a data-toggle='formbox' class="btn btn-primary btn-sm">Crear Nuevo</a>
     


        <table class="table table-striped" data-toggle="table" data-url="list_data">
            <thead>
                <tr>
                    <th data-field="nombre">Nombre</th>

                    <th data-field="id" data-formatter="tecnara.tablaBotones" data-width="200"></th>
                </tr>
            </thead>
        </table>
    </body>
</html>
