<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Sistema de Gestión Formativa - Mano Amiga</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js" integrity="sha512-RdSPYh1WA6BF0RhpisYJVYkOyTzK4HwofJ3Q7ivt/jkpW6Vc8AurL1R+4AUcvn9IwEKAPm/fk7qFZW3OuiUDeg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
        <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="${'/temas/main_all.css'}"/>
        <link rel="stylesheet" th:href="${'/temas/' + general.theme + '/main.css'}"/>
        <script src="/js/main.js"></script>
    </head>
    <body>
        <header class="text-center p-2">
            <img class="w-25" th:src="${'/temas/' + general.theme +  '/logo.png'}"/>
        </header>
        <div class="container indice">
            <hr class="mb-5"/>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="card text-center fa-10x">
                        <a href="/act/public/index">
                            <i class="fas fa-pager"></i><br/>
                            <h2 class="card-title">Zona pública</h2>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card text-center fa-10x">
                        <a href="/act/beneficiario/actividad/list"> 
                            <i class="fas fa-child"></i><br/>
                            <h2 class="card-title">Beneficiarios</h2>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card text-center fa-10x">
                        <a href="/act/tutor/beneficiario/list">
                            <i class="fas fa-user"></i><br/>
                            <h2 class="card-title">Tutores</h2>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card text-center fa-10x">
                        <a href="/act/monitor/index">
                            <i class="fas fa-running"></i><br/>
                            <h2 class="card-title">Monitores</h2>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card text-center fa-10x">
                        <a href="/act/profesor/beneficiario/list">
                            <i class="fas fa-chalkboard-teacher"></i><br/>
                            <h2 class="card-title">Profesores</h2>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card text-center fa-10x">
                        <a href="/act/admin/index">
                            <i class="fas fa-user-lock"></i><br/>
                            <h2 class="card-title">Administrador</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
