<!DOCTYPE html>
<html th:fragment="layout(htmlbody)">
    <head> 

        <title>Sistema de gestión formativa - Mano Amiga - Administración</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/node_modules/jquery/dist/jquery.js" ></script>
        <script src="/node_modules/popper.js/dist/popper.min.js" ></script>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" >
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" ></script>
        <script src="/node_modules/bootbox/dist/bootbox.min.js"></script>
        <link rel="stylesheet" href="/node_modules/bootstrap-table/dist/bootstrap-table.min.css">
        <script src="/node_modules/bootstrap-table/dist/bootstrap-table.min.js"></script>
        <script src="/node_modules/bootstrap-table/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
        <link rel="stylesheet" href="/library/fontawesome-free-5.15.4-web/css/all.css"  />
        <script src="/node_modules/tinymce/tinymce.min.js" ></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="${'/temas/main_all.css'}"/>
        <link rel="stylesheet" th:href="${'/temas/' + general.theme + '/main.css'}"/>
        <script src="/js/main.js"></script>
        <script src="/node_modules/tableexport.jquery.plugin/tableExport.min.js"></script>
        <script src="/node_modules/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
        <script src="/node_modules/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
        <script src="/node_modules/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>        

    </head>
    <body>
        <span th:replace="aaa/layouts/layout::layout()"></span>
        <nav class="navbar navbar-expand-lg"> 
            <a class="navbar-brand" href="/act/index">
                <img th:src="${'/temas/' + general.theme +  '/logo.png'}"/>    
            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>  
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" > Gestión de Personas</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/act/admin/usuario/list">Usuarios</a>
                            <a class="dropdown-item" href="/act/admin/beneficiario/list">Beneficiarios</a>
                            <a class="dropdown-item" href="/act/admin/monitor/list">Monitores</a>
                            <a class="dropdown-item" href="/act/admin/tutor/list">Tutores</a>
                            <a class="dropdown-item" href="/act/admin/profesor/list">Profesores</a>
                            <a class="dropdown-item" href="/act/admin/administrador/list">Administradores</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" >Actividades</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/act/admin/actividad/list">Actividades</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-5">
                        <a class="nav-link" data-toggle="dropdown" >Configuración</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/act/admin/preferencia/list">Preferencias</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Salir <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                    <li class="nav-item">
                        <span class="text-secondary" th:text="${'(' + general.username + ')'}"/>
                    </li>
                </ul>
            </div>



        </nav>

        <div class="container">
            <th:block th:include="${htmlbody}"/>
        </div>           



    </body>
</html>






