<!DOCTYPE html>
 
<html xmlns:th="http://www.thymeleaf.org" th:replace="act/public/layouts/layout::layout( ~{::body} )">
    
        

    <body>
        <div class="container">
            <h3>Identificación de Usuario</h3>
            <form action="recuperar_password_enviar_email" method="post" >

                <div class="container row">
                    <div class="col-12 col-md-6 offset-md-3">
                        <label>Introduce tu email para recuperar la contraseña</label>
                        <div data-toggle="obligatorio" data-invalid-text="Debe introducir un email" data-icon="fas fa-at">
                            <input type="email" name="email" class="form-control" placeholder="Introduce tu email" />
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit"  class="btn btn-success btn-lg mb-4"  id="myCheck" onclick="tecnara.mostrarAnimacion">Restablecer contraseña</button><br/>
                    <a href="login" >Volver</a><br/>


                  

                    <script>
                        
                        document.getElementById("myCheck").onclick = function() {tecnara.mostrarAnimacion($("body"))};
                        /*$(document).ready(function(){
                            
                            tecnara.mostrarAnimacion($("body"));
                        
                        });*/
    
  
                    </script>
                  

                </div>
            </form>
        </div>
    </body>
</html>
