<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="act/public/layouts/layout::layout( ~{::body} )">

    <body>
        <div class="container">
            <h3>Email Enviado</h3>
            <p>
                Se ha enviado un email a su cuenta de correo electrónico. Deberá hacer click en el enlace para reestablecer una nueva contraseña.
            </p>
            <a href="login" class="btn btn-success btn-lg mb-4" >Volver a login</a><br/>
        </div>
    </body>
</html>
