<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="act/profesor/layouts/layout::layout( ~{::body})">
    <body>
        <h3>Listado de Beneficiarios</h3>
        <div class="row">
            <div class="col-4">
                <input class="form-control" name="filtro" placeholder="Escribe un texto para buscar"/>
            </div>
            <div class="col-2">
                <button type="button" onclick="tecnara.refrescarTablas()" class="btn btn-primary "><i class="fas fa-search"></i>Filtrar</button>
            </div> 
            <script>
                tecnara.filtroTabla = function (params) {
                    params.filtro = $("*[name='filtro']").val();
                    return params;
                }
            </script>
        </div>        
        <table class="table table-striped" data-toggle="table" 
               data-mobile-responsive="true" 
               data-url="list_data"
               data-pagination="true" 
               data-side-pagination="server" 
               data-query-params="tecnara.filtroTabla">
            <thead>
                <tr>
                    <th data-field="nombre">Nombre</th>
                    <th data-field="apellido1" >Primer Apellido</th>
                    <th data-field="apellido2" >Segundo Apellido</th>
                    <th data-field="documento">Documento</th>
                    <th data-field="id" data-formatter="tecnara.tablaBotonConsultaForm">Editar</th>
                </tr>   
            </thead>    
        </table> 
    </body>
</html>
