   <!DOCTYPE html>
   <html xmlns:th="http://www.thymeleaf.org" th:replace="emp/tecnico/layouts/layout::layout( ~{::body} )">
 
    <head>
        <title>Registro de Horario Trabajado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Registro de Horario Trabajado</div>
 
            <div data-toggle="volver" th:if="${sinmenu!=true}"></div>
            <div class="container">
                <h3>Registro de Horario Trabajado</h3>
                <form action="guardar" method="post" th:object="${registro}">
                    <input type="hidden" th:field="*{id}" />


                   

 
                    <button type="submit" class="btn btn-primary mt-5">Guardar</button>
            </div>
        </form>
    </body>
</html>
