<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="emp/tecnico/layouts/layout::layout( ~{::body} )">
    <body>

        <div data-toggle="indice"></div>
        <h3>Intereses</h3>
        <form action="guardar" method="post" th:object="${registro}" class="was-validated">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{idParticipante}" />
            <div class="row">

                <div class="col-12">
                    <label>Texto</label>
                    <div data-toggle="obligatorio" data-invalid-text="Debe introducir un texto">
                        <textarea rows="10" class="form-control" th:field="*{texto}" required=""></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-5" >Guardar</button>
        </form>
    </body>
</html>

