<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html html xmlns:th="http://www.thymeleaf.org" th:replace="act/admin/layouts/layout::layout( ~{::body} )">
    
<body>
    <div class="container text-center">
        <h4><b>Enviado correo electrónico de reestablecimiento de contraseña al usuario</b></h4>
        <hr/>
        <a href="list">Pulsa aquí para volver a la lista</a>
    <div/>
 </body>
</html>
