<!DOCTYPE html>
<html th:fragment="layout(htmlbody)">
    <head> 

        <title>Sistema de gestión formativa - Mano Amiga - Administración</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="/node_modules/jquery/dist/jquery.js" ></script>
        <script src="/node_modules/popper.js/dist/popper.min.js" ></script>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" >
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" ></script>
        <script src="/node_modules/bootbox/dist/bootbox.min.js"></script>
        <link rel="stylesheet" href="/node_modules/bootstrap-table/dist/bootstrap-table.min.css">
        <script src="/node_modules/bootstrap-table/dist/bootstrap-table.min.js"></script>
        <script src="/node_modules/bootstrap-table/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
        <link rel="stylesheet" href="/library/fontawesome-free-5.15.4-web/css/all.min.css"  />
        <script src="/node_modules/tinymce/tinymce.min.js" ></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="${'/temas/main_all.css'}"/>
        <link rel="stylesheet" th:href="${'/temas/' + general.theme + '/main.css'}"/>
        <script src="/js/main.js"></script>
        <script src="/node_modules/tableexport.jquery.plugin/tableExport.min.js"></script>
        <script src="/node_modules/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
        <script src="/node_modules/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
        <script src="/node_modules/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>        

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Arvo&family=Bitter&family=Fredoka&family=Josefin+Sans&family=Lora&family=Poppins:wght@300&family=Sarabun:wght@300&family=Spectral:wght@300&family=Ubuntu&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.12.0/css/bootstrap-tour.css" integrity="sha512-k0XYpyAS0ktvoOnp8InzAZm15/dYemXkB93kb/y84EwWMYu4YN0feGXwKLK37qKoF1oaPAZnooxJgtm4sjqA1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/temas/bootstrap-tour-standalone.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.12.0/js/bootstrap-tour.js" integrity="sha512-2J1oe/iXZZroN8TQl1kbLBqBGp2zyulBVw9IXnFb/Iun6YppB6qncJB0xjkYjsMr+KdiYs5Fs787pjSaeW43Mg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.12.0/js/bootstrap-tour-standalone.js" integrity="sha512-/wP19kxPz0T+haB/7K1tSMfZcZYEgE5ng90xWcKMICZkbP2Vkx7IDg0IgZX8QmzmLjhQd66cjE1KcAE+Nu3NqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  

        <style>
            .semitransparente:hover{
                background-color: #FFCE1B33;
            }
            .bg-semitransparente{
                background-color: #FFCE1B33;
                font-weight: bold;
            }
            .aclarar{
                opacity: 0.3;
            }
            .pantalla-horizontal{
                width: 1920px;
                height: 1080px;
            }
            .pantalla-vertical{
                width: 1080px;
                height: 1920px;
            }
        </style>

    </head>

    <body>
        <span th:replace="aaa/layouts/layout::layout()"></span>

        <nav class="navbar navbar-expand-lg"> 
            <a class="navbar-brand" href="/">
                <img th:src="${'/temas/' + general.theme +  '/logo.png'}"/>    
            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>  
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" > Información</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/expo/coordinador/evento/list">Eventos</a>
                            <a class="dropdown-item" href="/expo/coordinador/noticia/list">Noticias</a>
                            <a class="dropdown-item" href="/expo/coordinador/servicio/list">Servicios</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" >  Personal</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/expo/coordinador/coordinador/list">Coordinadores</a>
                            <a class="dropdown-item" href="/expo/coordinador/trabajador/list">Trabajadores</a>
                            <a class="dropdown-item" href="/expo/coordinador/usuario/list">Usuarios</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" >  Configuración</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/expo/coordinador/area/list">Áreas</a>
                            <a class="dropdown-item" href="/expo/coordinador/espacio/list">Espacios</a>
                            <a class="dropdown-item" href="/expo/coordinador/aspecto/list">Aspectos</a>
                            <a class="dropdown-item" href="/expo/coordinador/imagen_decorativa/list">Imágenes Decorativas</a>
                            <a class="dropdown-item" href="/expo/coordinador/plantilla/list">Plantilla</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/expo/coordinador/preferencia/list">Preferencias</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Salir <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                    <li th:if="${general.username!=''}" class="nav-item">
                        <span class="text-secondary" th:text="${'(' + general.username + ')'}"/>
                    </li>                    
                </ul>
            </div>
        </nav>

        <div class="container">
            <th:block th:include="${htmlbody}"/>
        </div>           

    </body>
</html>






